:root {
    --accent: red;
}

html {
    min-height: 100vh;
    scroll-behavior: smooth;

    background-image: url(/images/landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    top: 50vh;
    position: fixed;
    transform: translateY(-50%);
}

nav ul {
    list-style: none;
    padding: 0.5rem 1rem;
}

nav ul li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    opacity: 0.75;
}

nav ul li a.active {
    color: var(--accent);
    text-decoration: underline;
    opacity: 1;
}

section.page {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 2rem;
    background-color: white;
}

section.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

section.hero h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.5rem;
}

#about {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

a {
    color: var(--accent);
    text-decoration: none;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    color: var(--accent);
}

h2 {
    color: var(--accent);
    text-transform: uppercase;
    text-align: center;
}

footer {
    border-top: 1px solid black;
    text-align: center;
    background-color: white;
}

hr {
    background-color: black;
    width: 200px;
    height: 1px;
    border: none;
}

#me {
    color: white;
}

#about section.body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

#about table {
    width: 100%;
}

#about section.body img {
    border-radius: 1rem;
    width: 100%;
}

#about section.below {
    grid-column: 1 / 3;
    text-align: center;
}

#about section.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about section.skills ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.portfolio {
    column-count: 3;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100%;
    padding: 0;
    margin: 1rem 0;
    list-style: none;
}

ul.portfolio > li.item {
    position:relative;
    display: block;
    margin-bottom: 1rem;
    overflow: hidden;
}

ul.portfolio > li.item > img {
    display: block;
    width: 100%;
    transition: all 100ms ease;
}

ul.portfolio > li.item:hover > img {
    transform: scale(1.05);
}

ul.portfolio > li.item > section.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
    z-index: 10;
}

ul.portfolio > li.item > section.overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

ul.portfolio > li.item > section.overlay * {
    margin: 0;
    color: white;
}

section.resume {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.resume > section.experience {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

section.resume h4 {
    text-transform: uppercase;
}

section.resume ul {
    font-size: small;
    margin: 0;
}

section.resume .tilted {
    display: block;
    margin: 1rem;
}

section.collection {
    position: relative;
    padding-left: 1rem;
    border-left: 2px solid var(--accent);
}

section.collection::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: 2px solid var(--accent);
    border-radius: 50%;
    transform: translateX(calc(-50% - 1px));
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#contact form {
    display: grid;
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 2rem auto;
}

#contact form section {
    display: flex;
    flex-direction: column;
}

#contact form section.subject,
#contact form section.message,
#contact form input[type="Submit"] {
    grid-column: 1 / 3;
    background-color: transparent;
}

#contact section.info {
    margin: 0 20%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact input, #contact textarea {
    outline: none;
    border: 1px solid black;
    padding: 0.25rem;
}

#contact input:focus, #contact textarea:focus {
    border: 1px solid var(--accent);
}

