html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

canvas {
    margin: 10px;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#canvas {
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    font-size: small;
    cursor: crosshair;
}